# Импорты

In [1]:
import pandas as pd

# Чтение и загрузка данных

In [2]:
train_df = pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')
train_df.head(10)

,Name,Category,Brand,Seller,Color,Comments,Final price,Max price,Min price,Average price,Sales,Days in stock,Days with sales,Rating,Basic Sale,Basic Sale Price,Base price,full_category
0,Машина посудомоечная SPS4HMI3FR,/Крупная бытовая техника,Bosch,ВАЙЛДБЕРРИЗ ООО,NaN,0.0,44990.0,44990.0,38120.0,41555.000000,2.0,23.0,2,"0,0000",0.0,44990.0,44990.0,Бытовая техника/Крупная бытовая техника
1,Триммер,/Красота и здоровье/Бритвы и триммеры/Триммеры,Red Beard,Петрова Елена Владимировна ИП,NaN,5.0,799.0,799.0,799.0,799.000000,4.0,4.0,3,"5,0000",50.0,975.0,1950.0,Бытовая техника/Красота и здоровье/Бритвы и тр...
2,Цифровой термометр-гигрометр с часами TA218A,/Красота и здоровье/Медицинские приборы/Термом...,Данилов Иван Валерьевич ИП,Данилов Иван Валерьевич ИП,NaN,0.0,550.0,550.0,550.0,550.000000,2.0,5.0,2,"0,0000",0.0,579.0,579.0,Бытовая техника/Красота и здоровье/Медицинские...
3,Экономитель воды с регулировкой струи,/Техника для дома,RIPOMA,ГЛОБАЛ ООО,NaN,1.0,127.0,259.0,127.0,127.000000,1.0,27.0,1,"2,0000",70.0,159.0,532.0,Бытовая техника/Техника для дома
4,Мультиварка,/Техника для кухни/Приготовление блюд/Мультиварки,ARC,АРК-2 ООО,NaN,4.0,4651.0,4651.0,4217.0,4595.595745,47.0,20.0,18,"5,0000",25.0,4651.0,6202.0,Бытовая техника/Техника для кухни/Приготовлени...
5,Насадка для пылесоса 30MU09,/Техника для дома/Аксессуары для пылесосов/Нас...,Dr.Electro,ДОКТОР ЭЛЕКТРО ООО,NaN,0.0,736.0,800.0,736.0,749.714286,14.0,19.0,12,"0,0000",54.0,736.0,1600.0,Бытовая техника/Техника для дома/Аксессуары дл...
6,Кухонные весы,/Техника для кухни/Кухонные весы,Аксинья,АМ-СБЫТ ООО,NaN,13.0,554.0,554.0,515.0,541.000000,9.0,31.0,7,"3,0000",40.0,554.0,924.0,Бытовая техника/Техника для кухни/Кухонные весы
7,Переключатель двухклавишный 3 выхода (ЕвроСтан...,/Техника для дома,Daesung,ЭКОГАРАНТ ООО,NaN,4.0,276.0,410.0,217.0,290.500000,16.0,28.0,8,"4,0000",25.0,307.0,410.0,Бытовая техника/Техника для дома
8,Выпрямитель волос SHE1101/210 °C,"/Красота и здоровье/Фены, приборы для укладки/...",StarWind,ВАЙЛДБЕРРИЗ ООО,NaN,45.0,655.0,678.0,655.0,673.656250,32.0,31.0,19,"4,0000",42.0,655.0,1130.0,"Бытовая техника/Красота и здоровье/Фены, прибо..."
9,Профессиональный фен GL 4311,"/Красота и здоровье/Фены, приборы для укладки/...",GALAXY,МЕГАПОЛИС (7321314837) ООО,NaN,428.0,968.0,1076.0,904.0,904.000000,1.0,1.0,1,"4,0000",31.0,1076.0,1560.0,"Бытовая техника/Красота и здоровье/Фены, прибо..."

# Исследование данных

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25062 entries, 0 to 25061
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              25062 non-null  object
 1   Category          25062 non-null  object
 2   Brand             25061 non-null  object
 3   Seller            25031 non-null  object
 4   Color             127 non-null    object
 5   Comments          25062 non-null  float64
 6   Final price       25062 non-null  float64
 7   Max price         25062 non-null  float64
 8   Min price         25062 non-null  float64
 9   Average price     19264 non-null  float64
 10  Sales             25062 non-null  float64
 11  Days in stock     25062 non-null  float64
 12  Days with sales   25062 non-null  int64
 13  Rating            25062 non-null  object
 14  Basic Sale        25062 non-null  float64
 15  Basic Sale Price  25062 non-null  float64
 16  Base price        25062 non-null  float64
 17  full_category     25062 non-null  object
dtypes: float64(10), int64(1), object(7)
memory usage: 3.4+ MB

In [4]:
train_df.describe()

,Comments,Final price,Max price,Min price,Average price,Sales,Days in stock,Days with sales,Basic Sale,Basic Sale Price,Base price
count,25062.000000,25062.000000,25062.000000,25062.000000,19264.000000,25062.000000,25062.000000,25062.000000,25062.000000,25062.000000,25062.000000
mean,23.312425,3528.017237,3804.909425,3304.637100,3129.730870,39.633469,20.167265,6.083154,31.870002,3843.291677,5534.881135
std,114.381180,6503.558322,6878.676851,5997.029222,5778.045279,228.910881,11.928790,7.691797,22.882029,6824.679868,8482.164111
min,0.000000,41.000000,47.000000,38.000000,38.000000,0.000000,0.000000,0.000000,0.000000,44.000000,50.000000
25%,0.000000,617.000000,679.000000,590.000000,564.000000,1.000000,8.000000,1.000000,10.000000,700.000000,1177.000000
50%,2.000000,1401.000000,1517.000000,1347.000000,1290.000000,4.000000,26.000000,3.000000,33.000000,1625.000000,2760.000000
75%,11.000000,3444.500000,3780.000000,3238.250000,3110.330357,16.000000,31.000000,9.000000,50.000000,3864.750000,6000.000000
max,5413.000000,179256.000000,179256.000000,162960.000000,179256.000000,12156.000000,31.000000,31.000000,95.000000,213400.000000,220000.000000

In [5]:
train_df.describe(include='O')

,Name,Category,Brand,Seller,Color,Rating,full_category
count,25062,25062,25061,25031,127,25062,25062
unique,15549,214,2931,2151,37,6,214
top,Чайник электрический,/Техника для дома,HDFREZA,ВАЙЛДБЕРРИЗ ООО,белый,"0,0000",Бытовая техника/Техника для дома
freq,552,2949,513,3431,34,8644,2949

In [6]:
train_df.Rating = train_df.Rating.str.replace(',', '.').astype(float)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25062 entries, 0 to 25061
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              25062 non-null  object
 1   Category          25062 non-null  object
 2   Brand             25061 non-null  object
 3   Seller            25031 non-null  object
 4   Color             127 non-null    object
 5   Comments          25062 non-null  float64
 6   Final price       25062 non-null  float64
 7   Max price         25062 non-null  float64
 8   Min price         25062 non-null  float64
 9   Average price     19264 non-null  float64
 10  Sales             25062 non-null  float64
 11  Days in stock     25062 non-null  float64
 12  Days with sales   25062 non-null  int64
 13  Rating            25062 non-null  float64
 14  Basic Sale        25062 non-null  float64
 15  Basic Sale Price  25062 non-null  float64
 16  Base price        25062 non-null  float64
 17  full_category     25062 non-null  object
dtypes: float64(11), int64(1), object(6)
memory usage: 3.4+ MB

In [7]:
test_df.Rating = test_df.Rating.str.replace(',', '.').astype(float)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10741 entries, 0 to 10740
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                10741 non-null  int64
 1   Name              10741 non-null  object
 2   Category          10741 non-null  object
 3   Brand             10741 non-null  object
 4   Seller            10734 non-null  object
 5   Color             68 non-null     object
 6   Comments          10741 non-null  float64
 7   Final price       10741 non-null  float64
 8   Max price         10741 non-null  float64
 9   Min price         10741 non-null  float64
 10  Average price     8334 non-null   float64
 11  Days in stock     10741 non-null  float64
 12  Days with sales   10741 non-null  int64
 13  Rating            10741 non-null  float64
 14  Basic Sale        10741 non-null  float64
 15  Basic Sale Price  10741 non-null  float64
 16  Base price        10741 non-null  float64
 17  full_category     10741 non-null  object
dtypes: float64(10), int64(2), object(6)
memory usage: 1.5+ MB

## Заполнение null-значений

In [10]:
train_df['Average price'].fillna((train_df['Max price'] + train_df['Min price']) / 2.0, inplace=True)
test_df['Average price'].fillna((test_df['Max price'] + test_df['Min price']) / 2.0, inplace=True)

In [11]:
train_df.isna().any()

Name                False
Category            False
Brand                True
Seller               True
Color                True
Comments            False
Final price         False
Max price           False
Min price           False
Average price       False
Sales               False
Days in stock       False
Days with sales     False
Rating              False
Basic Sale          False
Basic Sale Price    False
Base price          False
full_category       False
dtype: bool

In [12]:
train_df = train_df[~pd.to_numeric(train_df['Days in stock'], errors='coerce').isna()]

In [13]:
test_df = test_df[~pd.to_numeric(test_df['Days in stock'], errors='coerce').isna()]

In [14]:
train_df['Days in stock'] = train_df['Days in stock'].astype(float)

In [15]:
test_df['Days in stock'] = test_df['Days in stock'].astype(float)

# Количественные параметры